**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/.classpath
**/.dockerignore
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/Dockerfile*
**/__pycache__
**/cache/*
**/charts
**/compose*
**/docker-compose*
**/images
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
README.md